{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "mocha": true
    },
    "rules": {
        "no-console": ["error"],
        "indent": ["error", 4],
        "max-statements": ["error", 17],
        "max-depth": ["error", 4]
    }
}
