{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "mocha": true
    },
    "rules": {
        "no-console": 0,
        "no-unused-expressions": 0,
        "padded-blocks": 0,
        "indent": ["error", 4]
    }
}
