@font-face { font-family: Dense; src: url('Dense-Regular.otf'); }
@font-face { font-family: hillel;  src: url('hillelclm-medium-webfont.woff') format('woff');}

.player {
  width: 420px;
  height: 237px;
}

.definitionLabel {
  font-size: 38px;
  text-align: left;
    font-family: Dense, Arial, serif;
  margin-left: calc(10% - 20px);
}

#defineContainer .definitionButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #484444;
  color: floralwhite;
  text-align: center;
    font-family: Dense, Arial, serif;
}

.menu h1 {
  font-size: 50px;
  padding: 8px 0;
}

button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-family: Dense;
  font-size: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: #8686e5;
  padding: 4px 18px;
  outline: none;
  border: none;
  margin-left: 20px;
}

button:active {
  background-color: #5d5da8;
}

.hidden {
  /*display: none;*/
}

.screen {
  margin-left: 29px;
}

.player-container {
  margin-left: 20%;
}

.controls {
  margin-top: 20px;
}
