
body {
    background-color: black;
    margin: 0;
}
.player-container {
    position: absolute;
}

.player-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.playerHolder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.controls {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.controlsTouchScreen {
    width: 100%;
    height: 80%;
    top: 0;
    position: absolute;
    z-index: 2147483647;
    pointer-events: auto;
}

.player {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.vjs-control-bar > .vjs-progress-control{
     display: none
 }

.vjs-control-bar > .vjs-duration{
    display: none
}

.vjs-control-bar > .vjs-current-time{
    display: none
}

.vjs-control-bar > .vjs-time-divider{
    display: none
}

button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #8686e5;
    padding: 4px 18px;
    outline: none;
    border: none;
    margin-left: 20px;
}

button:active {
    background-color: #5d5da8;
}

.hidden {
    display: none;
}

.screen {

}

#extend {
    top: 10px;
    left: 10px;
}

.play {
    bottom: 10px;
    left: 10px;
}

#pause {
    bottom: 10px;
    left: 10px;
}

#progress-container {
    flex-grow: 1;
    order: 5;
}

.dots {
    position: absolute;
    bottom: 14px;
    left: 50% !important;
    margin-left: -50px;
}

.brightcove-dots {
    position: absolute;
    transform: translate(-48%, 0%);
    left: 48%;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.controller {
    cursor: pointer;
    z-index: 2147483647;
    pointer-events:auto;
    position: absolute;
    height: 26px;
    width: 26px;
}

.bigPlay {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 82px;
    margin: -41px 0 0 -40px;
}

.seekBar {
    color: white;
    pointer-events:auto;
    font-family: Arial, serif;
    position: absolute;
    margin: auto;
    left: 40px;
    font-size: small;
    text-shadow: 1px 0px black;
    width: calc(100% - 40px);
    bottom: 20px;
    height: 10px;
}

.brightcoveSeekBar {
    display: flex;
}

.brightcoveTimeLine {
    width: 100%;
}

#redSeekBar {
    box-sizing:content-box;
    position: absolute;
    right: 75px;
    left: 65px;
    width: calc(100% - 140px);
    top: 5px;
}
#rightTime {
    position: absolute;
    right: 25px;
    width: 40px;
}

#leftTime {
    left: 25px;
    position: absolute;
    width: 40px;
}


.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    display:none;
}




input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: none;
    background: transparent;

    /*required for proper track sizing in FF*/
}
input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: #DB7093;
    border: none;
    border-radius: 1px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #DB7093;
    margin-top: -4.5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DB7093;
}

input[type=range]::-moz-range-track {
    height: 5px;
    background: #DB7093;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #DB7093;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: goldenrod;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #DB7093;
}
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}

@keyframes te-whoosh {
    from  {background-position: 0}
    to    {background-position: -1900%}
}

.te {
    animation-duration: 0.85s;
    animation-name: te-whoosh;
    -webkit-animation-name: te-whoosh;
    animation-timing-function: steps(19);
    background-image: url(StudioA.png);
    background-size: cover;
}
