
.player-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.player-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.playerHolder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.controls {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}
.controlsTouchScreen {
    width: 100%;
    height: 80%;
    top: 0;
    position: absolute;
    z-index: 2147483647;
    pointer-events: auto;
}

.player {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.vjs-control-bar > .vjs-progress-control{
     display: none
 }

.vjs-control-bar > .vjs-duration{
    display: none
}

.vjs-control-bar > .vjs-current-time{
    display: none
}

.vjs-control-bar > .vjs-time-divider{
    display: none
}

button {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: #8686e5;
    padding: 4px 18px;
    outline: none;
    border: none;
    margin-left: 20px;
}

button:active {
    background-color: #5d5da8;
}

.hidden {
    display: none;
}

.screen {

}

.play {
    bottom: 10px;
    left: 10px;
}

#pause {
    bottom: 10px;
    left: 10px;
}

.player-wrapper .bc-player-V1xBaDVb6l_default .vjs-control {
    width: 50px;
}

#progress-container {
    flex-grow: 1;
    order: 5;
    width: 148px;
}

.dots {
    position: absolute;
    bottom: 14px;
    left: 50% !important;
    margin-left: -50px;
}

.brightcove-dots {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.vjs-mouse .brightcove-dots {
    margin: 11.5px 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.controller {
    cursor: pointer;
    z-index: 2147483647;
    pointer-events:auto;
    position: absolute;
    height: 26px;
    width: 26px;
}

#extend {
    top: 10px;
    left: 10px;
}

.extend {
    height: 33px;
    width: 33px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.extend:after{
    background: url(./images/extend_overlay.png) no-repeat;
    border-radius: 50%;
    content: '';
    display: block;
    height: 172px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 172px;
    transform-origin: top left;
    transform: scale(calc(27/172)) translate(20px, 20px);
}

.extend .extend-progress {
    height: 100%;
    width: 100%;
}

.bigPlayWrapper {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bigPlay {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 82px;
    margin: -41px 0 0 -40px;
    position: absolute;
}

.emHTML5SeekBar {
    color: white;
    pointer-events:auto;
    font-family: Arial, serif;
    position: absolute;
    margin: auto;
    left: 40px;
    font-size: small;
    text-shadow: 1px 0px black;
    width: calc(100% - 40px);
    bottom: 20px;
    height: 10px;
}

.emHTML5SeekBar input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.emHTML5SeekBar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.emHTML5SeekBar input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.emHTML5SeekBar input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: white;
    border: none;
    border-radius: 1px;
}

.emHTML5SeekBar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #339EFF;
    margin-top: -4.5px;
}  
.brightcoveSeekBar {
    display: flex;
}

.brightcoveTimeLine {
    width: 100%;
}

#redSeekBar {
    box-sizing:content-box;
    position: absolute;
    right: 75px;
    left: 65px;
    width: calc(100% - 140px);
    top: 5px;
}
#rightTime {
    position: absolute;
    right: 25px;
    width: 40px;
}

#leftTime {
    left: 25px;
    position: absolute;
    width: 40px;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    display:none;
}

@keyframes te-whoosh {
    from  {background-position: 0}
    to    {background-position: -1900%}
}

.te-whoosh-reverse {
    animation-direction: reverse;
}

@keyframes test-whoosh-test {
    from  {background-position: 0}
    to    {background-position: -1200%}
}

.te-test {
    animation-duration: 0.5s;
    animation-name: test-whoosh;
    animation-timing-function: steps(12);
    background-image: url(./images/whoosh.png);
    background-size: cover;
    -webkit-animation-name: te-whoosh-test;
}

.tfx-basic {
    animation-duration: 0.5s;
    animation-name: test-whoosh;
    animation-timing-function: steps(19);
    background-size: cover;
    -webkit-animation-name: te-whoosh;
}

.studio-a {
    background-image: url(./images/StudioA.png);
}

.socal-tfx {
    background-image: url(./images/socal.jpeg);
}

.border-blasters-tfx {
    background-image: url(./images/border-short.png);
}

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

.hide-controls {
    display: none;
}
