
.em-player-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.em-player-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.em-player-holder {
    width: 100%;
    height: 100%;
    position: absolute;
}

.em-controls {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.em-controls-touch-screen {
    width: 100%;
    height: 80%;
    top: 0;
    position: absolute;
    z-index: 2147483647;
    pointer-events: auto;
}

.em-player {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.vjs-control-bar > .vjs-progress-control{
    display: none
 }

.vjs-control-bar > .vjs-duration{
    display: none
}

.vjs-control-bar > .vjs-current-time{
    display: none
}

.vjs-control-bar > .vjs-time-divider{
    display: none
}

.em-show{
    display: block !important;
}

.vjs-big-play-button {
}

.em-hidden {
    display: none;
}

.em-screen {

}

.em-play {
    bottom: 10px;
    left: 10px;
}

.em-controller.em-pause {
    bottom: 10px;
    left: 10px;
}

.em-player-wrapper .bc-player-V1xBaDVb6l_default .vjs-control {
    width: 50px;
}

.em-player-wrapper .vjs-control-bar .progress-container {
    flex-grow: 1;
    order: 5;
    width: 148px;
}

.em-dots {
    position: absolute;
    bottom: 14px;
    left: 50% !important;
    margin-left: -50px;
}

.em-brightcove-dots {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.vjs-mouse .em-brightcove-dots {
    margin: 11.5px 0;
}

.em-dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.em-controller {
    cursor: pointer;
    z-index: 2147483647;
    pointer-events:auto;
    position: absolute;
    height: 26px;
    width: 26px;
}

.em-controller-front {
    z-index: 2147483647;
    position: absolute;
    pointer-events: auto;
}

.em-next-button {
    right: 6px;
}

.em-prev-button {
    left: 6px;
}

.vjs-mouse.vjs-has-started.vjs-user-inactive .em-next-prev-button{
    transition: opacity;
    opacity: 0;
    transition-delay: 3s;
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -ms-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-duration: 0.5s, 0.5s;
}

.vjs-has-started.vjs-user-inactive .em-next-prev-button{
    transition: opacity;
    opacity: 0;
    transition-delay: 3s;
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -ms-transition-delay: 3s;
    -o-transition-delay: 3s;
    transition-duration: 0.5s, 0.5s;
}

.em-next-prev-button {
    top: calc(50% - 20px);
    height: 40px;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.5s;
}

.vjs-poster.em-fade {
    animation: prviewImageFadeOut linear 3s;
}

.em-extend {
    height: 33px;
    width: 33px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.em-extend:after{
    background: url(./images/extend_overlay.png) no-repeat;
    border-radius: 50%;
    content: '';
    display: block;
    height: 172px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 172px;
    transform-origin: top left;
    transform: scale(calc(27/172)) translate(20px, 20px);
}

.em-extend .em-extend-progress {
    height: 100%;
    width: 100%;
}

.em-big-play-wrapper {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
}

.em-big-play {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 82px;
    margin: -41px 0 0 -40px;
    position: absolute;
}

.em-HTML5-seekbar {
    color: white;
    pointer-events:auto;
    font-family: Arial, serif;
    position: absolute;
    margin: auto;
    left: 40px;
    font-size: small;
    text-shadow: 1px 0px black;
    width: calc(100% - 40px);
    bottom: 20px;
    height: 10px;
}

.em-HTML5-seekbar input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
.em-HTML5-seekbar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.em-HTML5-seekbar input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.em-HTML5-seekbar input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
    background: white;
    border: none;
    border-radius: 1px;
}

.em-HTML5-seekbar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #339EFF;
    margin-top: -4.5px;
}
.em-brightcove-seekbar {
    display: flex;
}

.em-red-seekbar {
    box-sizing:content-box;
    position: absolute;
    right: 75px;
    left: 65px;
    width: calc(100% - 140px);
    top: 5px;
}
.em-right-time {
    position: absolute;
    right: 25px;
    width: 40px;
}

.em-left-time {
    left: 25px;
    position: absolute;
    width: 40px;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    display:none;
}

@keyframes em-tfx-sprite {
    from  {background-position: 0}
    to    {background-position: -1900%}
}

.em-tfx {
  background-size: cover;
}

.em-tfx-whoosh {
    animation-duration: 0.8s;
    animation-name: em-tfx-sprite;
    animation-timing-function: steps(19);
    -webkit-animation-name: em-tfx-sprite;
}

.em-tfx-reverse {
    animation-direction: reverse;
}

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

@media screen {
    .em-tutorial {
        background-image: url(./images/tutorial-web.png);
        background-position: center;
        background-size: cover;
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 2147483647;
    }

    .em-close-tutorial {
        height: 10%;
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        z-index: 2147483647;
    }
}

@media screen and (min-resolution: 2dppx), (max-width: 640px) {
    .em-tutorial {
        background-image: url(./images/tutorial-mobile.png);
    }
}
